
@{
    ViewBag.Title = "ParentSonTable2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <td>名字</td>
                <td>班级</td>
                <td>年龄</td>
                <td>手机号</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>lk</td>
                <td>二班</td>
                <td>23</td>
                <td>12368787</td>
            </tr>
            <tr>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>语文</td>
                            <td>数学</td>
                            <td>英语</td>
                            <td>历史</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>99</td>
                            <td>100</td>
                            <td>120</td>
                            <td>100</td>
                        </tr>

                    </tbody>
                </table>
            </tr>
            <tr>
                <td>lk</td>
                <td>二班</td>
                <td>23</td>
                <td>12368787</td>
            </tr>
            <tr>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>语文</td>
                            <td>数学</td>
                            <td>英语</td>
                            <td>历史</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>99</td>
                            <td>100</td>
                            <td>120</td>
                            <td>100</td>
                        </tr>

                    </tbody>
                </table>
            </tr>
        </tbody>
    </table>
</div>

