
@{
    ViewBag.Title = "HighLight";
}


<h2>Markdown 代码高亮</h2>
<div class="panel panel-default">
    <div class="panel-heading">
       代码着色插件
    </div>
    <div class="panel-body">
        <div class="btn-group">
            <button id="btnHighLightJs" type="button" class="btn btn-default">HighLightJs</button>
            <button id="btnsyntaxhighlighter" type="button" class="btn btn-danger">syntaxhighlighter</button>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        HighLightJs 样式
    </div>
    <div class="panel-body">
        <select class="selectpicker">
            <option value="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">default</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs.min.css">vs</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/solarized-dark.min.css">solarized-dark</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark-reasonable.min.css">atom-one-dark</option>
            <option value="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">default</option>
        </select>
    </div>

</div>
<div class="panel panel-default">
    <div class="panel-heading">
        效果
    </div>
    <div class="panel-body">
        <ul id="myTab" class="nav nav-tabs">
            <li><a href="#marked" data-toggle="tab">marked</a></li>
            <li><a href="#mdjs" data-toggle="tab">mdjs</a></li>
            <li><a href="#hyperDown" data-toggle="tab">hyperDown</a></li>
            <li><a href="#strapdown" data-toggle="tab">strapdown[暂未实现]</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="marked">
                <h3>marked效果</h3>
                <div id="markedDemo">

                </div>
            </div>
            <div class="tab-pane fade " id="strapdown">
                <h3>strapdown效果</h3>
                <div id="strapdownDemo">

                </div>
            </div>

            <div class="tab-pane fade" id="mdjs">
                <h3>mdjs效果</h3>
                <div id="mdjsDemo">

                </div>
            </div>
            <div class="tab-pane fade" id="hyperDown">
                <h3>hyperDown效果</h3>
                <div id="hyperDownDemo">

                </div>
            </div>
        </div>
    </div>
</div>

@*<link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css" rel="stylesheet" >*@
@*<link  id="highlight-style" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/xcode.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/solarized-dark.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark-reasonable.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-light.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css" rel="stylesheet" />*@
<link href="" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
@section scripts{
    <!--highlight.js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <!--bootstrap-select.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.js"></script>
    <!--markdwon解析js-->
    <script src="~/Scripts/mark/marked.min.js"></script>
    <script src="~/Scripts/mark/Parser.js"></script>
    <script src="~/Scripts/mark/strapdown.js"></script>
    <script src="~/Scripts/mark/mdjs.min.js"></script>
    <script>
        $(document).ready(function () {

        });

    </script>
    <script>
    $(function () {
        $('#myTab li:eq(0) a').tab('show');

        //selectpicker事件
        $('.selectpicker').selectpicker();
        $('.selectpicker').on('changed.bs.select', function (e) {
            //$("#highlight-style").href = e.target.value;
            console.log(e);
            //hljs.initHighlightingOnLoad();
            //
            addCss(e.target.value);
        });
        var addCss = function (path) {
            if (!path || path.length === 0) {
                throw new Error('argument "path" is required !');
            }
            var old = document.getElementById("highlight-style");
            if (old) {
                old.remove();
            }
            var head = document.getElementsByTagName('head')[0];
            var link = document.createElement('link');
            link.id = "highlight-style";
            link.href = path;
            link.rel = 'stylesheet';
            link.type = 'text/css';
            head.appendChild(link);
        };
        //加载markdown文件
        $.ajax({
            type: "get",
            url: "@Url.Action("MarkdonwFile")",
            async: false,
            dataType: "text",
            success: function (response, status, request) {
                //mdjs
                $('#mdjsDemo').html(Mdjs.md2html(response));
                //marked
                $('#markedDemo').html(marked(response));
                //HyperDown
                var parser = new HyperDown;
                $('#hyperDownDemo').html(parser.makeHtml(response));
                $('pre code').each(function (i, e) { hljs.highlightBlock(e) });
                //hljs.initHighlightingOnLoad();
                //SyntaxHighlighter.all(null);
            }
        });
        $('#btnHighLightJs').click(function () {
            hljs.initHighlightingOnLoad();
        });
        $('#btnsyntaxhighlighter').click(function () {
            SyntaxHighlighter.all()
        });
    })

    </script>

}



@*<script src="~/Scripts/syntaxhighlighter-3.0.90/js/shCore.js"></script>*@

