
@{
    ViewBag.Title = "HighLight";
}


<h2>Markdown 代码高亮</h2>
<div class="panel panel-default">
    <div class="panel-heading">
       代码着色插件
    </div>
    <div class="panel-body">
        <div class="btn-group">
            <button id="btnHighLightJs" type="button" class="btn btn-default">HighLightJs</button>
            <button id="btnsyntaxhighlighter" type="button" class="btn btn-danger">syntaxhighlighter</button>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        HighLightJs 样式
    </div>
    <div class="panel-body">
        <select class="selectpicker">
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/a11y-light.min.css">a11y-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/agate.min.css">agate.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/an-old-hope.min.css">an-old-hope.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/androidstudio.min.css">androidstudio.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/arduino-light.min.css">arduino-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/arta.min.css">arta.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/ascetic.min.css">ascetic.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-cave-dark.min.css">atelier-cave-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-cave-light.min.css">atelier-cave-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-dune-dark.min.css">atelier-dune-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-dune-light.min.css">atelier-dune-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-estuary-dark.min.css">atelier-estuary-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-estuary-light.min.css">atelier-estuary-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-forest-dark.min.css">atelier-forest-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-forest-light.min.css">atelier-forest-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-heath-dark.min.css">atelier-heath-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-heath-light.min.css">atelier-heath-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-lakeside-dark.min.css">atelier-lakeside-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-lakeside-light.min.css">atelier-lakeside-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-plateau-dark.min.css">atelier-plateau-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-plateau-light.min.css">atelier-plateau-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-savanna-dark.min.css">atelier-savanna-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-savanna-light.min.css">atelier-savanna-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-seaside-dark.min.css">atelier-seaside-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-seaside-light.min.css">atelier-seaside-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-sulphurpool-dark.min.css">atelier-sulphurpool-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atelier-sulphurpool-light.min.css">atelier-sulphurpool-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark-reasonable.min.css">atom-one-dark-reasonable.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css">atom-one-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-light.min.css">atom-one-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/brown-paper.min.css">brown-paper.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/codepen-embed.min.css">codepen-embed.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/color-brewer.min.css">color-brewer.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/darcula.min.css">darcula.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/dark.min.css">dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/darkula.min.css">darkula.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">default.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/docco.min.css">docco.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/dracula.min.css">dracula.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/far.min.css">far.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/foundation.min.css">foundation.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github-gist.min.css">github-gist.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">github.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/gml.min.css">gml.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/googlecode.min.css">googlecode.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/grayscale.min.css">grayscale.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/gruvbox-dark.min.css">gruvbox-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/gruvbox-light.min.css">gruvbox-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/hopscotch.min.css">hopscotch.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/hybrid.min.css">hybrid.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/idea.min.css">idea.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/ir-black.min.css">ir-black.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/isbl-editor-dark.min.css">isbl-editor-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/isbl-editor-light.min.css">isbl-editor-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/kimbie.dark.min.css">kimbie.dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/kimbie.light.min.css">kimbie.light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/lightfair.min.css">lightfair.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/magula.min.css">magula.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/mono-blue.min.css">mono-blue.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/monokai-sublime.min.css">monokai-sublime.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/monokai.min.css">monokai.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/nord.min.css">nord.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/obsidian.min.css">obsidian.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/ocean.min.css">ocean.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/paraiso-dark.min.css">paraiso-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/paraiso-light.min.css">paraiso-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/pojoaque.min.css">pojoaque.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/purebasic.min.css">purebasic.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/qtcreator_dark.min.css">qtcreator_dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/qtcreator_light.min.css">qtcreator_light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/railscasts.min.css">railscasts.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/rainbow.min.css">rainbow.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/routeros.min.css">routeros.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/school-book.min.css">school-book.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/shades-of-purple.min.css">shades-of-purple.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/solarized-dark.min.css">solarized-dark.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/solarized-light.min.css">solarized-light.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/sunburst.min.css">sunburst.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night-blue.min.css">tomorrow-night-blue.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night-bright.min.css">tomorrow-night-bright.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night-eighties.min.css">tomorrow-night-eighties.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night.min.css">tomorrow-night.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow.min.css">tomorrow.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs.min.css">vs.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs2015.min.css">vs2015.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/xcode.min.css">xcode.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/xt256.min.css">xt256.min.css</option>
            <option value="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/zenburn.min.css">zenburn.min.css</option>

        </select>
    </div>

</div>
<div class="panel panel-default">
    <div class="panel-heading">
        效果
    </div>
    <div class="panel-body">
        <ul id="myTab" class="nav nav-tabs">
            <li><a href="#marked" data-toggle="tab">marked</a></li>
            <li><a href="#mdjs" data-toggle="tab">mdjs</a></li>
            <li><a href="#hyperDown" data-toggle="tab">hyperDown</a></li>
            <li><a href="#strapdown" data-toggle="tab">strapdown[暂未实现]</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="marked">
                <h3>marked效果</h3>
                <div id="markedDemo">

                </div>
            </div>
            <div class="tab-pane fade " id="strapdown">
                <h3>strapdown效果</h3>
                <div id="strapdownDemo">

                </div>
            </div>

            <div class="tab-pane fade" id="mdjs">
                <h3>mdjs效果</h3>
                <div id="mdjsDemo">

                </div>
            </div>
            <div class="tab-pane fade" id="hyperDown">
                <h3>hyperDown效果</h3>
                <div id="hyperDownDemo">

                </div>
            </div>
        </div>
    </div>
</div>

@*<link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css" rel="stylesheet" >*@
@*<link  id="highlight-style" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/xcode.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/solarized-dark.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark-reasonable.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-light.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css" rel="stylesheet" />*@
<link href="" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
@section scripts{
    <!--highlight.js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <!--bootstrap-select.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.js"></script>
    <!--markdwon解析js-->
    <script src="~/Scripts/mark/marked.min.js"></script>
    <script src="~/Scripts/mark/Parser.js"></script>
    <script src="~/Scripts/mark/strapdown.js"></script>
    <script src="~/Scripts/mark/mdjs.min.js"></script>
    <script>
        $(document).ready(function () {

        });

    </script>
    <script>
    $(function () {
        $('#myTab li:eq(0) a').tab('show');

        //selectpicker事件
        $('.selectpicker').selectpicker();
        $('.selectpicker').on('changed.bs.select', function (e) {
            //$("#highlight-style").href = e.target.value;
            console.log(e);
            //hljs.initHighlightingOnLoad();
            //
            addCss(e.target.value);
        });
        var addCss = function (path) {
            if (!path || path.length === 0) {
                throw new Error('argument "path" is required !');
            }
            var old = document.getElementById("highlight-style");
            if (old) {
                old.remove();
            }
            var head = document.getElementsByTagName('head')[0];
            var link = document.createElement('link');
            link.id = "highlight-style";
            link.href = path;
            link.rel = 'stylesheet';
            link.type = 'text/css';
            head.appendChild(link);
        };
        //加载markdown文件
        $.ajax({
            type: "get",
            url: "@Url.Action("MarkdonwFile")",
            async: false,
            dataType: "text",
            success: function (response, status, request) {
                //mdjs
                $('#mdjsDemo').html(Mdjs.md2html(response));
                //marked
                $('#markedDemo').html(marked(response));
                //HyperDown
                var parser = new HyperDown;
                $('#hyperDownDemo').html(parser.makeHtml(response));
                $('pre code').each(function (i, e) { hljs.highlightBlock(e) });
                //hljs.initHighlightingOnLoad();
                //SyntaxHighlighter.all(null);
            }
        });
        $('#btnHighLightJs').click(function () {
            hljs.initHighlightingOnLoad();
        });
        $('#btnsyntaxhighlighter').click(function () {
            SyntaxHighlighter.all()
        });
    })

    </script>

}



@*<script src="~/Scripts/syntaxhighlighter-3.0.90/js/shCore.js"></script>*@

