
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">HttpPostedFileBase</div>
    <div class="panel-body">
        <form id="httpPostedFileBaseForm" action="@Url.Action("UploadFileByHttpPostedFileBase")" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>文件</label>
                <input id="HttpPostedFileBase" name="httpPostedFileBase" type="file" class="file" required>
            </div>
            <div class="form-group">
                <input type="submit" value="提交"/>
            </div>
        </form>
    </div>
    <br/>
    <br/>
    <br />
    <div class="panel-heading">HttpPostedFile</div>
    <div class="panel-body">
        <form id="HttpPostedFileForm" action="@Url.Action("UploadFileByHttpPostedFile")" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>文件</label>
                <input id="httpPostedFile" name="httpPostedFile" type="file" class="file" required>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" />
            </div>
        </form>
    </div>
</div>

