bin
obj
/TestResults
/packages
/.vs
/01-architecture/packages
/01-csharp/packages
/02-aspnet/packages
/07-company/packages
/08-test/packages
/08-tool-sample/packages
/09-book-sample/packages
/04-javascript/Rico.WebPack/app/node_modules
/04-javascript/Rico.WebPack/webpack-demo/node_modules
/02-aspnet/Rico.OwinSample/.vs
/01-csharp/.vs
/02-aspnet/Rico.OwinSample/packages
