<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="ERP" connectionString="Database=SD_PublicDB;Server=10.0.12.2;Integrated Security=false;uid=mpass;pwd=123456mpass;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TryThriftHost2" value="10.0.20.105"/>
    <add key="TryThriftPort2" value="7757"/>
  </appSettings>

</configuration>
