<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net46" />
  <package id="CacheManager.StackExchange.Redis" version="1.1.2" targetFramework="net46" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.1.2" targetFramework="net46" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net46" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net46" />
</packages>