<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServiceName" value="Sodao.WindowService.Samples" />
    <!--服务描述-->
    <add key="ServiceDescription" value="windows服务Demo" />
    <!--log4net-->
    <add key="log4netConfigSource" value="\config\log4net.config" />
  </appSettings>
</configuration>