
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<a href="/Home/About" target="self">target self </a>
<a href="/Home/About" target="blank">target blank </a>
<a href="/Home/About" target="new">target new </a>
@Html.ActionLink("target new", "About", null,new {taget="new"})

