
<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul>
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..." />
                    <input type="button" class="submit" value=" " />
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start ">
            <a href="/home/index">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="has-sub ">
            <a href="javascript:;">
                <i class="icon-bookmark-empty"></i>
                <span class="title">UI Features</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub">
                <li><a href="/home/ui_general">General</a></li>
                <li><a href="/home/ui_buttons">Buttons</a></li>
                <li><a href="/home/ui_tabs_accordions">Tabs & Accordions</a></li>
                <li><a href="/home/ui_sliders">Sliders</a></li>
                <li><a href="/home/ui_tiles">Tiles</a></li>
                <li><a href="/home/ui_typography">Typography</a></li>
                <li><a href="/home/ui_tree">Tree View</a></li>
                <li><a href="/home/ui_nestable">Nestable List</a></li>
            </ul>
        </li>
        <li class="has-sub ">
            <a href="javascript:;">
                <i class="icon-table"></i>
                <span class="title">Form Stuff</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub">
                <li><a href="/home/form_layout">Form Layouts</a></li>
                <li><a href="/home/form_samples">Advance Form Samples</a></li>
                <li><a href="/home/form_component">Form Components</a></li>
                <li><a href="/home/form_wizard">Form Wizard</a></li>
                <li><a href="/home/form_validation">Form Validation</a></li>
                <li><a href="/home/form_fileupload">Multiple File Upload</a></li>
                <li><a href="/home/form_dropzone">Dropzone File Upload</a></li>
            </ul>
        </li>
        <li class="has-sub ">
            <a href="javascript:;">
                <i class="icon-th-list"></i>
                <span class="title">Data Tables</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub">
                <li><a href="/home/table_basic">Basic Tables</a></li>
                <li><a href="/home/table_managed">Managed Tables</a></li>
                <li><a href="/home/table_editable">Editable Tables</a></li>
            </ul>
        </li>
        <li class="has-sub ">
            <a href="javascript:;">
                <i class="icon-th-list"></i>
                <span class="title">Portlets</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub">
                <li><a href="/home/portlet_general">General Portlets</a></li>
                <li><a href="/home/portlet_draggable">Draggable Portlets</a></li>
            </ul>
        </li>
        <li class="has-sub ">
            <a href="javascript:;">
                <i class="icon-map-marker"></i>
                <span class="title">Maps</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub">
                <li><a href="/home/maps_google">Google Maps</a></li>
                <li><a href="/home/maps_vector">Vector Maps</a></li>
            </ul>
        </li>
        <li class="">
            <a href="charts">
                <i class="icon-bar-chart"></i>
                <span class="title">Visual Charts</span>
            </a>
        </li>
        <li class="">
            <a href="calendar">
                <i class="icon-calendar"></i>
                <span class="title">Calendar</span>
            </a>
        </li>
        <li class="">
            <a href="gallery">
                <i class="icon-camera"></i>
                <span class="title">Gallery</span>
            </a>
        </li>
        <li class="has-sub ">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">Extra</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub">
                <li><a href="/home/extra_profile">User Profile</a></li>
                <li><a href="/home/extra_faq">FAQ</a></li>
                <li><a href="/home/extra_search">Search Results</a></li>
                <li><a href="/home/extra_invoice">Invoice</a></li>
                <li><a href="/home/extra_pricing_table">Pricing Tables</a></li>
                <li><a href="/home/extra_404">404 Page</a></li>
                <li><a href="/home/extra_500">500 Page</a></li>
                <li><a href="/home/extra_blank">Blank Page</a></li>
                <li><a href="/home/extra_full_width">Full Width Page</a></li>
            </ul>
        </li>
        <li class="">
            <a href="login">
                <i class="icon-user"></i>
                <span class="title">Login Page</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>