<?xml version="1.0"?>
<configuration>

  <configSections>
    <!--thrift client config-->
    <section name="thriftClient" type="Thrift.Client.Config.ThriftConfigSection, Thrift.Client_1.0"/>
  </configSections>

  <!--thrift client config-->
  <thriftClient>
    <services>
      <!--IP查询服务代理-->
      <service name="IPSearchService" client="Sodao.IPSearch.Service.Thrift.AsyncIPSearchService+Client, Sodao.IPSearch.Service.Thrift"
               socketBufferSize="1024" messageBufferSize="1024" sendReceiveTimeout="5000">
        <servers>
          <!--put you server here-->
          <server host="10.0.20.105" port="14801"/>
        </servers>
      </service>
    </services>
  </thriftClient>
  <!--thrift client config end-->
</configuration>
