<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CinemaDb" connectionString="data source=192.168.1.218\mighost;initial catalog=CinemaWdTest;user id=sa;password=1qaz~xsw2;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FilmPhotoSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.129:2006/FilmPhoto.asmx"
        binding="basicHttpBinding" bindingConfiguration="FilmPhotoSoap"
        contract="CinemaImage.FilmPhotoSoap" name="FilmPhotoSoap" />
    </client>
  </system.serviceModel>
</configuration>