@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Bootstrap Table</h2>
        <p>
            <a class="btn btn-danger" href="https://github.com/wenzhixin/bootstrap-table-examples">bootstrap-table-examples Github 案例</a>
        </p>


    </div>
</div>